<md-toolbar color="primary" class="mat-elevation-z3">Toolbar title goes here</md-toolbar>
<md-sidenav-container>
  <md-sidenav mode="side" [opened]="true" class="mat-elevation-z3" id="models">
    <ng-container *ngIf="!models.length">
      Loading...
    </ng-container>

    <md-nav-list>
      <a *ngFor="let model of models"
         md-list-item
         routerLinkActive="active"
         [routerLink]="['/model',model.name]"
         [attr.id]="'model_' + model.name">
        {{model.name}}
      </a>
    </md-nav-list>
  </md-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
